<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">




    <welcome-file-list>
        <welcome-file>form.html</welcome-file>
    </welcome-file-list>


    <!--<jsp-config>-->
    <!--<taglib>-->
    <!--<taglib-uri>randomThings</taglib-uri>-->
    <!--<taglib-location>/WEB-INF/myFunctions.tld</taglib-location>-->
    <!--</taglib>-->
    <!--</jsp-config>-->


    <servlet>
        <servlet-name>Comments</servlet-name>
        <servlet-class>com.zyz.books2017.controller.UserType</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Comments</servlet-name>
        <url-pattern>/Comments.do</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>MovieList</servlet-name>
        <servlet-class>com.zyz.books2017.controller.MovieList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MovieList</servlet-name>
        <url-pattern>/MovieList.do</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>TestBean</servlet-name>
        <servlet-class>com.zyz.books2017.controller.TestBean</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestBean</servlet-name>
        <url-pattern>/TestBean.do</url-pattern>
    </servlet-mapping>


    <listener>
        <listener-class>com.zyz.books2017.controller.BeerAttributeListener</listener-class>
    </listener>


    <listener>
        <listener-class>com.zyz.books2017.controller.BeerSessionCounter</listener-class>
    </listener>


    <servlet>
        <servlet-name>CheckCookie</servlet-name>
        <servlet-class>com.zyz.books2017.controller.CheckCookie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckCookie</servlet-name>
        <url-pattern>/CheckCookie.do</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>CookieTest</servlet-name>
        <servlet-class>com.zyz.books2017.controller.CookieTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CookieTest</servlet-name>
        <url-pattern>/CookieTest.do</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>BeerTest</servlet-name>
        <servlet-class>com.zyz.books2017.controller.BeerTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BeerTest</servlet-name>
        <url-pattern>/BeerTest.do</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>TestAttributes</servlet-name>
        <servlet-class>com.zyz.books2017.controller.TestAttributes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestAttributes</servlet-name>
        <url-pattern>/Attributes.do</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ListenerTester</servlet-name>
        <servlet-class>com.zyz.books2017.controller.ListenerTester</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListenerTester</servlet-name>
        <url-pattern>/ListenTest.do</url-pattern>
    </servlet-mapping>

    <!-- 容器为上下文初始化参数创建键值对，将键值对的引用交给ServletContext -->
    <context-param>
        <param-name>breed</param-name>
        <param-value>Great Dane</param-value>
    </context-param>
    <listener>
        <listener-class>com.zyz.books2017.MyServletContextListener</listener-class>
    </listener>


    <context-param>
        <param-name>adminEmail</param-name>
        <param-value>zyz9255@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>mainEmail</param-name>
        <param-value>zyz9255@sina.com</param-value>
    </context-param>

    <!--<servlet>-->
    <!--<servlet-name>BeerParamTests</servlet-name>-->
    <!--<servlet-class>com.zyz.books2017.controller.TestInitParams</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>BeerParamTests</servlet-name>-->
    <!--<url-pattern>/Tester.do</url-pattern>-->
    <!--</servlet-mapping>-->


    <servlet>
        <servlet-name>Ch3 Beer</servlet-name>
        <servlet-class>com.zyz.books2017.controller.BeerSelect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ch3 Beer</servlet-name>
        <url-pattern>/SelectBeer.do</url-pattern>
    </servlet-mapping>

</web-app>